body {
	background-image:url(background.jpg);
	background-position: center;
	font-family: Arnoldboecklin, fantasy;
}

.active {
	animation:
	nudge 5s linear infinite;
}

.left {
	width:160px;
	float: left;
}

.right {
	width:160px;
	float: right;

}

.rightrock {
	background-image:url(rock.png);
	height: 150px;
	width: 150px;
}

.rightpaper {
	background-image:url(paperR.png);
	height: 150px;
	width: 150px;
}

.rightscissors {
	background-image:url(scissors.png);
	height: 150px;
	width: 150px;
}

.rightlizard {
	height: 150px;
	width: 150px;	
	background-image:url(lizardL.png);
}

.rightspock {
	height: 150px;
	width: 150px;
	background-image:url(spockR.png);
}

.leftrock {
	height: 150px;
	width: 150px;
	background-image:url(rockL.png);
}

.leftpaper {
	height: 150px;
	width: 150px;
	background-image:url(paper.png);
}

.leftscissors {
	height: 150px;
	width: 150px;
	background-image:url(scissors.png);
}

.leftlizard {
	height: 150px;
	width: 150px;
	background-image:url(lizardR.png);
}

.leftspock {
	height: 150px;
	width: 150px;
	background-image:url(spockL.png);
}

