body {
	text-align: center;
	font-size: 30px;
	font-style: serif;
	color:white;
	background-color:#5590cc;
	cursor: url(noClick.png), default;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background-position: center;
	background-image: url(map.png);
	background-attachment: fixed;               
    background-repeat: no-repeat;
    background-position: center center;
}

.gameOver {
	background-image: url(gameOver.png);
}

.container {
	width:950px;
	margin: 100px auto;
}


.picX {
	height:100px;
	width:100px;
	padding:1px;
	display:inline-block;
	background-image: url(blank100.png);
}

.timer {
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	border-top: 20px;
	float: left;
	margin-top: -100;
	margin-left:50px;
}

.score {
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	float: right;
	margin-top: -100;
	margin-right:50px;
}

.high {
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin-right: 200px;
	text-align: center;
	float: right;
	margin-top: -100;
}

.active {
	height:100px;
	width:100px;
	display:inline-block;
	background-image: url(kim.png);
    transition-duration: 0.5s;
}

.sad {
	height:100px;
	width:100px;
	display:inline-block;
	background-image: url(sad.png);
    transition-duration: 0.5s;
}

.dalai {
	height:100px;
	width:100px;
	display:inline-block;
	background-image: url(dalai.png);
    transition-duration: 0.5s;
}

.clicky {
	cursor: url(onClick.png), auto;
}